[submodule "real-estate-client"]
	path = real-estate-client
	url = https://github.com/apnguyen11/real-estate-client.git
[submodule "client-folder"]
	path = client-folder
	url = https://github.com/apnguyen11/client-folder.git
